<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VISIONARY TRACKER</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main-container">
        <div class="header">
            <h1>VISIONARY TRACKER</h1>
        </div>
        <div class="flex-container">
            <div class="video-container">
                <img src="{{ url_for('video') }}" alt="Video stream" class="video">
            </div>
            <div class="detections-container">
                <ul id="detections" class="detections-list"></ul>
            </div>
        </div>
    </div>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script type="text/javascript">
        var socket = io();
        socket.on('detection', function(data) {
            var detectionsList = document.getElementById('detections');
            var listItem = document.createElement('li');
            listItem.textContent = `ID: ${data.id}, Type: ${data.type}`;
            detectionsList.appendChild(listItem);
        });
    </script>
</body>
</html>
