body {
    font-family: Arial, sans-serif;
}

.main-container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.header h1 {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    margin-top: 1px;
}

.video-container {
    flex: 1;
}

.detections-container {
    flex: 1;
    height: 500px; /* Ayarlanabilir */
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}

.detections-list {
    list-style: none;
    padding: 0;
}

.detections-list li {
    margin-bottom: 10px;
}
